.header{
    background: white;
    position: absolute;
    top:0px;
    width:100%;

}
.header h1{
    font-family: "Helvetica Neue";
}
#search{
    position: absolute;
    top:30px;
    left: 49%;
    height: 27px;
    width: 15%;
    border:1px solid;
    border-color: rgb(210,210,210);
    border-radius: 3px;
    font-family: "Helvetica Neue";
}

.input3                                  {font-size: 14px;}
.input3::-webkit-input-placeholder       {font-size: 14px; font-family: "Helvetica Neue";}
.input3::-webkit-input-placeholder       {line-height: 13px;  transition: line-height 0.5s ease;}
.input3::-moz-placeholder                {line-height: 13px;  transition: line-height 0.5s ease;}
.input3:-moz-placeholder                 {line-height: 13px;  transition: line-height 0.5s ease;}
.input3:-ms-input-placeholder            {line-height: 13px;  transition: line-height 0.5s ease;}
.input3:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
.input3:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
.input3:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
.input3:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}


.myprofile{
    position: absolute;
    top:30px;
    left:65%;
    height:30px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
.myprofile:hover{
    font-size: 15px;
    color: white;
    background-color: rgb(55, 135, 210);
    border: 1px rgb(55, 135, 210);
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
.newphoto{
    position: absolute;
    top:30px;
    left: 74%;
    height:30px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
.newphoto:hover{
    font-size: 15px;
    color: white;
    background-color: green;
    border: 1px green;
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
.exit{
    position: absolute;
    top:30px;
    left: 84%;
    height:30px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
.exit:hover{
    font-size: 15px;
    color: white;
    background-color: red;
    border: 1px red;
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
body{
    background-color: rgb(250, 250, 250);
}

