body{
    background-color: rgb(250, 250, 250);
}
#registration{
    background-color: white;
    width: 25%;
    height: 78%;
    position: absolute;
    top: 10%;
    left: 39%;
    outline:solid 1px;
    outline-color: rgb(239, 239, 239);
    font-family: "Helvetica Neue";
}
#signin{
    background-color: white;
    width: 25%;
    height: 7%;
    position: absolute;
    top:90%;
    left: 39%;
    outline:solid 1px;
    outline-color: rgba(239, 239, 239, 0.36);
    text-align: center;
    font-family: "Helvetica Neue";

}

.input3                                  {font-size: 14px;}
.input3::-webkit-input-placeholder       {font-size: 14px; font-family: "Helvetica Neue";}
.input3::-webkit-input-placeholder       {line-height: 13px;  transition: line-height 0.5s ease;}
.input3::-moz-placeholder                {line-height: 13px;  transition: line-height 0.5s ease;}
.input3:-moz-placeholder                 {line-height: 13px;  transition: line-height 0.5s ease;}
.input3:-ms-input-placeholder            {line-height: 13px;  transition: line-height 0.5s ease;}
.input3:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
.input3:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
.input3:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
.input3:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}

h1{
    text-align: center;
}

h2{
    text-align: center;
    color:gray;
}

#email{
    height: 30px;
    position: relative;
    left: 9%;
    border:1px solid;
    border-color: rgb(210,210,210);
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
#name{
    height: 30px;
    position: relative;
    top: 10px;
    left: 9%;
    border:1px solid;
    border-color: rgb(210,210,210);
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
#nickname{
    height: 30px;
    position: relative;
    top:20px;
    left: 9%;
    border:1px solid;
    border-color: rgb(210,210,210);
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
#password{
    height:30px;
    position: relative;
    top:30px;
    left:9%;
    border:1px solid;
    border-color: rgb(210,210,210);
    border-radius: 3px;
    font-family: "Helvetica Neue";
}

#register{
    position: relative;
    top:20px;
    left:9%;
    height:30px;
    width: 270px;
    font-size: 15px;
    color: white;
    background-color: rgb(55, 135, 210);
    border: 1px rgb(55, 135, 210);
    border-radius: 3px;
    font-family: "Helvetica Neue";
}
p{
    position: relative;
    top:40px;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
}
.error{
    color: red;

}